.userData {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__btnAdd {
    background-color: $primaryColor;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border: solid 1px $primaryColor;
    margin: 0 20px 0 10px;
    position: relative;
    &:hover {
      background-color: transparent;
    }
    &:active {
      top: 1px;
    }
  }

  &__userImage {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $primaryColor;
      border-radius: 100%;
      opacity: 0.1;
    }
    .btnClose {
      width: 23px;
      height: 23px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      position: absolute;
      right: -4px;
      top: -2px;
      background-color: #f82929;
      cursor: pointer;
      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
}
