.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity linear 0.15s;
  z-index: 2000;
  width: 480px;
  margin: 40px auto;

  &.fade-in {
    opacity: 1;
    transition: opacity linear 0.15s;
  }
  &.fade-out {
    opacity: 0;
    transition: opacity linear 0.15s;
  }
  .background {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1040;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    outline: 0;
  }
  .boxDialog {
    z-index: 1050;
    width: 100%;
    background-color: #fefefe;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 10px;
    .boxContent {
      padding: 0 28px;
      width: 100%;
    }
    .close {
      position: absolute;
      right: 28px;
      top: 28px;
      cursor: pointer;
      transition: opacity 0.2s ease-in-out;
      opacity: 0.25;
      &:hover {
        opacity: 0.6;
      }
    }
    .boxHeader {
      padding-top: 28px;
      padding-right: 40px;
      padding-left: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      .boxTitle {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}
