.dialog {
  width: 90%;

  &__content {
    height: 85vh;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 32px;
    overflow-y: scroll;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    line-height: 24px;
    padding-right: 16px;

    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.sub {
  font-size: 18px;
  margin-bottom: 4px;
  font-weight: bold;
}

.ol {
  margin-bottom: 20px;
}
