.item {
  cursor: pointer;
  margin-top: 30px;
  transition: 0.25s ease-in-out;
  position: relative;
  box-shadow: 0px 0px 50px 1px #1f1f1f33;
  top: 0;
  &__image {
    height: 340px;
    position: relative;
    border-radius: 5px;
    display: flex;
  }

  &:hover {
    top: 5px;
    box-shadow: none;
    .item__wrapper {
      background: rgba(29, 29, 29, 0.8);
      opacity: 1;
    }
  }

  &__topIcon {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: $backgroundColor;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 12px;
    left: 12px;
  }

  &__blockFilled {
    z-index: 100;
    width: 118px;
    height: 46px;
    background-color: $primaryColor;
    border-radius: 12px;
    align-self: flex-end;
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 32px;
  }

  &__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.25s ease-in-out;
    background: rgba(29, 29, 29, 0);
    opacity: 0;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    padding: 0 32px;
  }
}
