.bordered {
  border-bottom: solid 1px #e8e8e8;
  width: 100%;
  display: flex;
}

.wrapper {
  display: grid;
  grid-template-columns: 5fr 2fr 5fr;
  grid-template-rows: 1fr;
  gap: 0px 30px;
  grid-template-areas: '. . .';
  height: 86px;
  align-items: center;
  padding: 0 10px;
}

.logo {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  transition: 0.4s;
  > a,
  > span {
    cursor: pointer;
    display: inline-block;
    margin-left: 20px;
    font-size: 15px;
    padding-bottom: 8px;
    padding-top: 6px;
    border-bottom: solid 3px $backgroundColor;
    color: $textColor;
    transition: 0.2s ease-in-out;
    &:hover {
      border-bottom: solid 3px $primaryColor;
    }
  }
}

.btnsRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  p {
    color: $primaryColor;
    text-decoration: underline;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    &:hover {
      text-decoration: none;
    }
    &:active {
      top: 1px;
    }
  }

  .btns {
    display: flex;

    button {
      margin-left: 20px;
    }
  }
}

.hiddenLg {
  display: none;
}

.navShow {
  top: 0;
}

.navHidden {
  left: -999px !important;
}

@media (max-width: 768px) {
  .hiddenLg {
    display: block;
  }
  .bordered {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    background-color: #fff;
  }
  .navigation {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 87px;
    flex-direction: column;
    z-index: 100;
    background-color: $textColor;
    text-align: center;
    padding-top: 18px;
    > a,
    > span {
      color: #fff;
      display: block;
      border: none;
      cursor: pointer;
      margin-left: 0;
      font-size: 16px;
      padding: 12px 0;
      // padding-bottom: 8px;
      // padding-top: 6px;
      transition: 0.3s;
      font-weight: 300;
      &:hover {
        border: none;
        background-color: $primaryColor;
      }
    }
  }
}

@media (max-width: 992px) {
  .wrapper {
    grid-template-columns: 12fr 5fr 7fr;
  }

  .logo {
    margin: 0;
    justify-content: flex-start;
  }
  // .btnsRight {
  //   width: 400px;
  // }
  // .navigation {
  //   width: 400px;
  // }
}

@media (max-width: 1200) {
  .navContainer {
    color: red;
  }
}
