$sides: (
  'top': 't',
  'right': 'r',
  'bottom': 'b',
  'left': 'l',
);

@each $prop, $letter in $sides {
  @for $px from 0 through 10 {
    .m#{$letter}-#{$px * 5} {
      margin-#{$prop}: #{$px * 5}px !important;
    }

    .p#{$letter}-#{$px * 5} {
      padding-#{$prop}: #{$px * 5}px !important;
    }
  }
}

.p-30 {
  padding: 30px; //var(--spacing--30)
}

.p-20 {
  padding: var(--spacing--20);
}

.pv-40 {
  padding: 0 var(--spacing--40);
}

.pv-30 {
  padding: 0 var(--spacing--30);
}

.ph-40 {
  padding: var(--spacing--30) 0;
}
